body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    background-color: white;
    font-size: 16px;
    padding: 12px;
    text-decoration-style:solid;
    border: 2px solid #40da19;
    border-radius: 4px;
    transition-duration: 0.4s;
    width: 200px;
    margin-top: 20px;
}

button:hover, button:hover{
    background-color: #40da19;
}

input {
    border: 2px solid #40da19;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    margin-right: 4%;
    transition-duration: 0.4s;
    text-align: center;
}

input:focus {
    background-color: #40da19;
}

#weather-search-params{
    margin: auto;
    text-align: center;
}

#weather-results-container{
    margin: 0 auto;
}

.weather-block {
    width: 300px;
    height: 120px;
    border: 1px solid #40da19;
    border-radius: 10px;
    position: relative;
    margin: 15px 15px 15px 15px;
    text-align: left;
    transition-duration: 0.4s;
}

.weather-block:hover{
    background-color: #40da19;
    border: 1px solid red;
}

#forecast-weather{
    width: 2660px;
}

#current-weather .weather-block{
    margin: 15px auto;
}

#forecast-weather .weather-block{
    float: left;
}

.weather-date {
    font-weight: bold;
    width: 350px;
    text-align: left;
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 20px;
}

.weather-icon {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100px;
    height: 100px;
}

.weather-temperature {
    position: absolute;
    top: 30px;
    left: 110px;
    font-size: 33px;
    font-weight: bold;
}

.weather-temperature-feels-like {
    position: absolute;
    top: 70px;
    left: 110px;
}

.weather-description {
    position: absolute;
    top: 90px;
    left: 110px;
}
